{% load i18n %}

<div class="footer">
	<div class="wrap">
		<h3>{% trans "SAY HELLO" %}</h3>
		<p>{% trans "Follow us on major social networks is stay on top of rolling in Freshman Handbook ;)" %}</p>
		<div class="footerlinks">
			<div class="share">
				<li>
					<a href="https://www.facebook.com/groups/manualdobixo" target="_blank" title="Facebook"><span class="social fbook"> </span></a>
				</li>
				{% comment %}
				<li>
					<a href="#" target="_blank" title="twitter"><span class="social twitter"> </span></a>
				</li>
				<li>
					<a href="#" target="_blank" title="tumblr"><span class="social tumblr"> </span></a>
				</li><br />
				<li>
					<a href="#" target="_blank" title="delicious"><span class="social delicious"> </span></a>
				</li>
				<li>
					<a href="#" target="_blank" title="delicious"><span class="social delicious"> </span></a>
				</li>
				<li>
					<a href="#" target="_blank" title="dribbble"><span class="social dribbble"> </span></a>
				</li>
				<li>
					<a href="#" target="_blank" title="evernote"><span class="social evernote"> </span></a>
				</li>
				<li>
					<a href="#" target="_blank" title="stumbleupon"><span class="social stumbleupon"> </span></a>
				</li>
				{% endcomment %}
			</div>
		</div>
	</div>
	<div class="footer1">
		<p class="link">
			<span>© {% trans "All rights Reserved | Designed by" %}&nbsp; <a href="https://github.com/saraivaufc/" target='_blank'> Ciano Saraiva</a>	</span>
		</p>
	</div>
</div>