{% load i18n %}
<div class="container-fluid">
	<div class="row">
		<form  class="form form-horizontal" action="." method="post" enctype="multipart/form-data"  class="js-reply">{% csrf_token %}
			<div class="container-fluid">
				<div class="row">
					<h2 class="text-left">{{ title_form }}</h2>
					<table class="table bg-text">
						{{ form.as_table }}
					</table>
					<input class="btn btn-default bg-item" type="submit" value="{% trans "Submit" %}" />
				</div>
			</div>
		</form>	
	</div>
</div>