{% load i18n %}
<ol id="list_items_sort" class="list-group">
{% for item in topic.get_items %}
	<li class="list list-group-item  list-group-item-info"  value={{ item.id }}>
		<div class="row">
			<div class="col-md-10">
				{{ item.get_title }}
			</div>
			<div class="col-md-2">
				<div class="text-right">
					<a href="{% url 'handbook:admin_item_see' topic_slug=topic.get_slug  item_slug=item.get_slug %}">
						<span class=" glyphicon glyphicon-eye-open pointer"></span>&nbsp;
					</a>
					<a href="{% url 'handbook:admin_item_edit' topic_slug=topic.get_slug item_slug=item.get_slug %}">
						<span class="glyphicon glyphicon-edit pointer"></span>&nbsp;
					</a>
					<a href="{% url 'handbook:admin_item_remove' topic_slug=topic.get_slug item_slug=item.get_slug %}">
						<span class="glyphicon glyphicon-remove pointer"></span>
					</a>
				</div>
			</div>
		</div>
	</li>
{% empty %}
<h3>{% trans "No items found..." %}</h3>
{% endfor %}
</ol>
<button  onclick="sortItems();" class="btn btn-warning pull-right">
	<span class="glyphicon glyphicon-refresh"></span>
</button>
