{% extends 'handbook/accounts/login.html' %}

{% load i18n %}

{% block content %}
<div class="col-sm-12 col-sm-6 col-sm-offset-3  col-md-4 col-md-offset-4">
<div class="panel width">
	<div class="heading text-center">
		<span class="icon mif-key text-left"></span>
    	<span class="title">{% trans "Enter new password" %}</span>
	</div>
	<div class="content">
			{% if validlink %}
				<h4>{% trans "Please enter your new password twice so we can verify you typed it in correctly." %}</h4>
				<form action="." method="POST">{% csrf_token %}
					{% with form as form %}
					{% include "handbook/_feilds.html" %}
					{% endwith %}
					<div class="text-right">
						<button type="submit" class="image-button button-primary">
							{% trans 'Change my password' %}
							<span class="icon mif-checkmark"></span>
						</button>
					</div>
				</form>
			{% else %}
				<h3>{% trans 'Password reset unsuccessful' %} :(</h3>
				<h4>{% trans "The password reset link was invalid, possibly because it has already been used.  Please request a new password reset." %}</h4>
			{% endif %}
	</div>
</div>
</div>

{% endblock %}