{% extends 'handbook/accounts/login.html' %}

{% load i18n %}

{% block breadcrumbs %}
	{{ block.super }}
	<li><a href="{% url "handbook:reset_password_reset1" %}"><span class="icon mif-key"></span> <spam>{% trans "Password Reset" %}</spam></a></li>
{% endblock %}


{% block content %}
<div class="col-sm-12 col-sm-6 col-sm-offset-3  col-md-4 col-md-offset-4">
<div class="panel width">
	<div class="heading text-center">
		<span class="icon mif-key text-left"></span>
    	<span class="title">{% trans "Reset Password" %}</span>
	</div>
	<div class="content">
			<h4>{% trans "Forgotten your password? Enter your email addess below," %}</h4>
			<form action="{% url "handbook:reset_password_reset1" %}" method="POST">{% csrf_token %}
				{% with form as form %}
				{% include "handbook/_fields.html" %}
				{% endwith %}
				<div class="text-right">
					<button type="submit" class="image-button button-primary">
						{% trans 'Reset my password' %}
						<span class="icon mif-checkmark"></span>
					</button>
				</div>
			</form>
	</div>
</div>
</div>

{% endblock %}