{% extends 'handbook/accounts/login.html' %}

{% load i18n %}

{% block content %}
<h1>{% trans "Password reset" %}</h1>

<p>{% trans "Forgotten your password? Enter your email addess below," %}</p>

<forma action="." method="POST">{% csrf_token %}
{% with form as form %}
{% include "handbook/_fields.html" %}
{% endwith %}
<input type="submit" value="{% trans 'Change my password' %}" class="default" />
<script type="text/javascript">document.getElementById("id_old_password").focus();</script>
</form>
{% endblock %}